.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: white;
  padding: 35px;
  border-radius: 8px;
  width: 90%;
  max-width: 420px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: black;
}

.login-box p {
  margin-bottom: 20px;
  color: #555;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  display: block;
  text-align: left;
  margin: 10px 0 4px;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}


.login-form input {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  color: #58335e;
}

.submit-btn {
  padding: 12px;
  background-color: #58335e;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.submit-btn:hover {
  opacity: 0.95;
}

.error {
  color: red;
  font-size: 0.85rem;
  margin-top: -10px;
  margin-bottom: 10px;
}

.toggle-text {
  margin-top: 20px;
  text-align: center;
}

.toggle-link {
  color: #007bff;
  cursor: pointer;
  font-weight: bold;
}
