.recommended-section {
    padding: 60px 20px;
    /*background: #f8f8f8;*/
    text-align: center;
  }
  
  .recommended-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
  }
  
  .recommended-card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.08);
    transition: 0.3s;
  }
  
  .recommended-card:hover {
    transform: translateY(-5px);
  }
  
  .recommended-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .recommended-info {
    padding: 15px;
    text-align: left;
  }
  
  .tag {
    font-size: 0.75rem;
    background: #58335e;
    color: white;
    padding: 2px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    display: inline-block;
  }
  
  .view-all-wrapper {
    margin-top: 30px;
  }
  
  .view-all-btn {
    display: inline-block;
    background-color: #58335e;
    color: white;
    padding: 12px 24px;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    transition: background 0.3s ease;
  }
  
  .view-all-btn:hover {
    background-color: #452b4b;
    color: rgb(209, 209, 209);
  }
  